<ul>
  <li *ngFor="let resource of resources | async" class="list-item">
    <div class="float-right align-right">
      <span class="date">{{ resource.content.created | amCalendar }}</span>
    </div>

    <div class="file-info">
      <i class="fa fa-{{ resource.type }}-o"></i>{{ resource.type }} uploaded
    </div>

    <div class="file">
      <a href="javascript:;" attr.data-url="{{ resource.content.url }}" (click)="onViewImageEvent($event)" class="name specs" title="{{resource.content.name}}">{{resource.content.name}}</a>
      <span class="specs">{{ resource.size | size}}</span>

      <a class="action" href="javascript:;" role="button" (click)="onOpenResource($event)">
        <i *ngIf="previewOpen" class="fa fa-arrow-up"></i>
        <i *ngIf="!previewOpen" class="fa fa-arrow-right"></i>
      </a>
    </div>

    <!-- preview -->
    <div #filetransfer class="filetransfer">
      <a href="javascript:;" attr.data-url="{{ resource.content.url }}" (click)="onViewImageEvent($event)">
        <img src="{{ resource.content.preview }}">
      </a>
    </div>

  </li>
</ul>
