<div class="float-right">
  <span class="close"><a href="javascript:;" (click)="onCloseClick()"><i class="fa fa-close"></i></a></span>
</div>

<!-- TODO: Replace this for the user-identity view -->
<div class="user-identity">
  <div class="user-status float-left">
    <img alt="{{user.picture}}" class="rounded-circle" src="{{user.picture}}">
    <span class="status {{user.status}}">
      <i class="fa fa-circle{{user.status === 'unavailable' ? '-o' : ''}}"></i>
    </span>
  </div>
  <div class="user-profile float-left">
    <h3 class="contact-name">{{user.name}}</h3>
    <span class="extra-info">{{user.domain}}</span>
  </div>
</div>
<!-- END OF USER IDENTITY -->

<div class="contact-me ml-3 mt-3">
  <span class="action audio"><a (click)="makeAudioCall($event)" [routerLink]="" [queryParams]="{ action: 'audio' }"><i class="fa fa-phone"></i></a></span>
  <span class="action video"><a (click)="makeVideoCall($event)" [routerLink]="" [queryParams]="{ action: 'video' }"><i class="fa fa-video-camera"></i></a></span>
</div>
