<notifications></notifications>

<!-- container -->
<div screen class="container-fluid">

  <div class="row">

    <!-- pusher -->
    <div class="mp-pusher wrapper {{contextOpened ? 'mp-pushed' : ''}}" (click)='onClickOutside($event)' id="mp-pusher">
      <nav context-menu></nav>

      <!-- scroller -->
      <div class="scroller">

        <!-- scroller-inner -->
        <div #section class="scroller-inner d-flex flex-column align-items-stretch">

          <div *ngIf="showAlert" [innerHTML]="notificationStatus" class="alert alert-warning m-0 rounded-0" role="alert"></div>

          <header class="header">
            <div class="primary-menu row no-gutters">

              <!-- Logotipo -->
              <div class="col align-center">
                <a class="open-context" (click)="onOpenContext($event)"><i class="fa fa-lightbulb-o"></i></a>
                <a routerLink="/"><img src="../assets/img/rethinklogo2.png"></a>
              </div>

              <!-- My Identity -->
              <div class="col-6">
                <my-self *ngIf="myIdentity" [model]="myIdentity"></my-self>
              </div>

            </div>

            <div *ngIf="showBreadcrumb"  class="secondary-menu mt-2 mb-2 row no-gutters">

              <!-- breadcrumb -->
              <div class="col-12">
                <ul *ngIf="ready" (openContext)="openSecondaryContext($event)" context-breadcrumb></ul>
              </div>

            </div>

          </header>

          <router-outlet (activate)='onActivate($event)'></router-outlet>

          <loading *ngIf="!ready"  [status]="status"></loading>

        </div>
        <!-- /scroller-inner -->
      </div>
      <!-- /scroller -->
    </div>

  </div>
  <!-- /pusher -->
</div>
<!-- /container -->
