<notifications [options]="options"></notifications>

<!-- container -->
<div class="container-fluid">
    
  <div class="row">

      <!-- pusher -->
      <div class="mp-pusher wrapper {{contextOpened ? 'mp-pushed' : ''}}" (click)='onClickOutside($event)' id="mp-pusher">
          <nav context-menu></nav>

          <!-- scroller -->
          <div class="scroller">

              <!-- scroller-inner -->
              <div class="scroller-inner">
                    <header class="header">
                        <div class="row">
                            <!-- breadcrumb -->
                            <div class="col">
                                <!-- TODO optimize the openContextMenu process, should be only on the 3 dots -->
                                <ul [hidden]="!ready" context-breadcrumb (openContext)="onOpenContext($event)"></ul>
                            </div>

                            <!-- Logotipo -->
                            <div class="col-3 align-center">
                                <a routerLink="/"><img src="../assets/img/rethinklogo2.png"></a>
                            </div>

                            <!-- My Identity -->
                            <div class="col">
                                <my-self *ngIf="myIdentity" [model]="myIdentity"></my-self>
                            </div>
                        </div>
                    </header>

                    <!-- Router Outlet -->
                    <router-outlet></router-outlet>

                    <!-- Loading spinner when wait for the auth and app be ready -->
                    <div *ngIf="!ready" class="main-content">
                        <div class="content-panel">
                            <span>Loading {{ status }}</span>
                        </div>
                    </div>

              </div>
              <!-- /scroller-inner -->
          </div>
          <!-- /scroller -->
      </div>

  </div>
      <!-- /pusher -->
</div>
<!-- /container -->

