

:host {
  position: relative;

 .contact-me {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.50);

    text-align: center;

    border-top: 1px solid rgba(255, 255, 255, 0.30);
  }

  span.action {
    background-color: rgba(255, 255, 255, 0.15);
    overflow: hidden;
    display: inline-block;
    text-align: center;

    width: 48px;
    height: 48px;
    padding: 0;
    margin-right: 8px;
    border-radius: 50%;

    a {
      display: block;
      color: #fff;
      font-size: 18px;
      width: 100%;
      height: 100%;
      line-height: 46px;
      text-align: center;
    }

    &.audio,
    &.video {
      background-color: #32d167;
    }

    &.mute {
      background-color: rgba(255, 255, 255, 0.8);
    }

    &.hangup {
      background-color: #e44c43;
      width: 90px;
      border-radius: 45px;
    }
  }

  .audio-call,
  .video-call {
    overflow: hidden;
  }

  .player {
    width: 100%;
    height: 100%;
  }

  .video-wall {
    background: #000;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .video-call .my-video-wall {
    left: auto;
    right: 10px;
    top: 10px;
    width: 120px;
    height: 120px;
    background: none;

    .player {
      height: auto;
      background: none;
    }
  }

  .audio-call .video-wall {
    background: none;
    z-index: -1;
  }
}
