version: '2'
services:
  'rethink-app':
    build: './rethink'
    container_name: 'rethink-app'
    networks:
      rethink_app:
        ipv4_address: 172.19.0.2
    expose:
      - '443'

networks:
  rethink_app:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.19.0.0/16
          gateway: 172.19.0.1
