@charset "UTF-8";

html {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
}

html:-moz-full-screen {
  background: #eff0f4;
}

html:-webkit-full-screen {
  background:  #eff0f4;
}

html:-ms-fullscreen {
  background:  #eff0f4;
  width: 100%; /* needed to center contents in IE */
}

html:fullscreen {
  background: #eff0f4;
}

body {
  font-size: 14px;
  height: 100%;
  background-color: #eff0f4;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    color: #666;
    text-transform: uppercase;
}

h3 {
  color: #898e95;
  font-size: 1.375rem;
}

// TODO: check if this could be used and is applyed to all inputs
form {

  input {
    border-radius: 2px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 7px;
    width: 100%;
  }

}


.v-scroll {
  overflow-y: auto;
}

.overflow-content {
  overflow: hidden;
}

.contact-list,
.context-list {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;

  .item {
    position: relative;
    display: block;
    float: left;
    width: 100%;

    .link {
      display: block;
      overflow: hidden;
      position: relative;
      padding-left: 1.125rem;
      padding-top: .25em;
      padding-bottom: .25em;
      padding-right: 0.375rem;
      color: #fff;
      cursor: pointer;
      border-left: 0px solid rgba(0, 0, 0, 0.15);
      transition: all 150ms ease-in-out;

      text-decoration: none;

      &:hover {
        border-left: 6px solid rgba(0, 0, 0, 0.15);
        background-color: rgba(0, 0, 0, 0.15);
      }

      &:active,
      &.active {
        border-left: 6px solid #3bb7f5;
        background-color: rgba(0, 0, 0, 0.15);
      }

      .name {
        padding-left: .5em;
      }

      .user-identity {
        position: relative;
        float: left;
        width: 100%;
      }

      .loading {
        position: absolute;
        right: 30px;
        top: 10px;
      }

      .pointer {
        position: absolute;
        right: 16px;
        top: 8px;
        padding: 2px 4px;
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;

        span.action {
          padding: 0;
          display: inline-block;
          a {
            padding: 0;
          }
          i {
            color: #fff;
            font-size: 14px;
          }
        }
      }

      &:hover .pointer,
      &.active .pointer {
        right: 4px;
        opacity: 1;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);

        transition-duration: 500ms;
        transform: scale(1, 1) translate3d(0, 0, 0);

      }

    }

    .remove {
      position: absolute;
      display: block;

      right: 6px;
      top: 2px;
      bottom: 0;

      padding: 0 0.5rem;
      color: #fff;

      opacity: 0;

      @include media-breakpoint-down(xs) {
        opacity: 1;
      }

      width: 28px;
      text-align: center;

      transition: all 250ms ease-in-out;

      &:hover {
        color: #3bb7f5;
      }

    }

    &:hover {
      // Show the remove button when you hover the link
      .remove {
        opacity: 1;
      }
    }


    .alert {
      position: absolute;
      top: -4px;
      right: 10px;

      a {
        position: relative;
        display: block;
      }

      span.new-message {
        background-color: #e44c43;
        display: inline-block;
        font-size: 10px;
        padding: 1px 4px;
        color: #f8f8f8;
        font-weight: 400;
        position: absolute;
        top: 8px;
        right: 16px;
        border-radius: 30px;
      }

      i.fa {
        color: rgba(255, 255, 255, 0.15);
        font-size: 22px;
        padding-right: 4px;
      }
    }
  }
}
