<li class="breadcrumb-trigger">
  <a href="javascript:;" class="menu-trigger" (click)="openContext.emit($event)">
    <i class="fa fa-ellipsis-v"></i>
  </a>
</li>

<li class="breadcrumb-path" *ngFor="let item of breadcrumb | async; let i = index; let $last = last;" [class.first]="i===0">
  <h3 class="level-{{i}}">

    <a *ngIf="!$last" routerLink="{{item}}" routerLinkActive="active">
      <!--<span *ngIf="!$last" class="fa fa-lock"></span>-->
      {{item.replace('/', '').substr(item.lastIndexOf('/'))}}
    </a>

    <!-- TODO apply an PIPE here to replace the address -->
    <span class="name" *ngIf="$last">
      <!--<span *ngIf="!$last" class="fa fa-lock"></span>-->
      {{item.replace('/', '').substr(item.lastIndexOf('/'))}}
    </span>
  </h3>
</li>