<!-- container -->
<div class="container">

    <!-- pusher -->
    <div class="mp-pusher wrapper {{contextOpened ? 'mp-pushed' : ''}}" (click)='onClickOutside($event)' id="mp-pusher">
        <nav context-menu></nav>

        <!-- scroller -->
        <div class="scroller">

            <!-- scroller-inner -->
            <div class="scroller-inner">
                <header class="all-100 half-padding">
                    <ul context-breadcrumb (open-context)="onOpenContext($event)"></ul>
                    <h1 class="small-logo push-left"><img src="img/rethinklogo2.png"></h1>
                    <ul contact-me></ul>
                </header>

                <!-- big sidebar large screens -->
                <div class="all-25 medium-30 xlarge-20 sidebar hide-small hide-tiny">
                    <ul contact-list [model]="contacts" (contact-click)="onContactClick($event)" (contact-add)="onContactAdd()"></ul>

                    <footer class="alt-foot">
                        Copyright 2016 © Altice Labs - All rights reserved
                    </footer>
                </div>

                <div class="all-75 medium-70 xlarge-80 main-content hide-small hide-tiny">
                    <div class="content-panel all-100 hide-small hide-tiny">
                        <ul context-activity-list [model]="activities"></ul>
                        <div context-file-share-list></div>
                    </div>
                </div>

                <div context-sender></div>
            </div>
            <!-- /scroller-inner -->
        </div>
        <!-- /scroller -->
    </div>
    <!-- /pusher -->
</div>
<!-- /container -->
