<!-- container -->
<div class="container-fluid">
  <div class="row">

    <!-- pusher -->
    <div class="mp-pusher wrapper {{contextOpened ? 'mp-pushed' : ''}}" (click)='onClickOutside($event)' id="mp-pusher">
        <nav context-menu></nav>

        <!-- scroller -->
        <div class="scroller">

            <!-- scroller-inner -->
            <div class="scroller-inner">
                <header class="all-100 half-padding">
                    <ul context-breadcrumb (open-context)="onOpenContext($event)"></ul>
                    <h1 class="small-logo push-left"><img src="img/rethinklogo2.png"></h1>
                    <ul contact-me [model]="myIdentity"></ul>
                </header>

                <!-- big sidebar large screens -->
                <!-- bootstrap: col-xs-4 col-md-4 col-lg-2 sidebar hide-small hide-tiny -->
                <!-- all-25 medium-30 xlarge-20 sidebar hide-small hide-tiny -->
                <div class="all-25 medium-30 xlarge-20 sidebar hide-small hide-tiny">
                    <ul contact-list [model]="contacts" (contact-click)="onContactClick($event)" (contact-add)="onContactAdd()"></ul>

                    <footer class="alt-foot">
                        Copyright 2016 © Altice Labs - All rights reserved
                    </footer>
                </div>
                
                <!-- bootstrap: col-xs-8 col-md-8 col-lg-10 main-content hide-small hide-tiny -->
                <!-- all-75 medium-70 xlarge-80 main-content hide-small hide-tiny -->
                <div class="all-75 medium-70 xlarge-80 main-content hide-small hide-tiny">
                    <div class="content-panel all-100 hide-small hide-tiny">
                      <router-outlet></router-outlet>
                        <!-- <ul activity-list [model]="activities"></ul>
                        <div file-share-list></div> -->
                    </div>
                </div>

                <!-- <div context-sender></div> -->
            </div>
            <!-- /scroller-inner -->
        </div>
        <!-- /scroller -->
    </div>
  </div>
    <!-- /pusher -->
</div>
<!-- /container -->
