/* Accordion list from context menu */

/*.context-menu {

}*/

/* reset */
.context-menu .card,
.context-menu .card-header {
  border: none;
  border-radius: 0;
  background: none;
  padding: 0;
}

/* New style for search */

.context-menu .card-header:first-child {
  padding: .75em 0;
  display: none;
}

.context-menu .card-header + .card-block {
  padding: .75em;
}

.context-menu .search-bar {
  background-color: transparent;
  overflow: visible;
  margin: 0;
}

.context-menu .search-bar form {
  margin: 0;
}

.context-menu .search-bar input.search {
  border: none;
  height: 34px;
  margin-top: 3px;
  color: #f8f8f8;
  padding: 6px 10px;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 34px;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.context-menu .search-bar input.search i.fa-search {
  position: absolute;
  left: 4px;
  top: 4px;
}

.context-menu .search-bar input.search:focus {
  background-color: rgba(0, 0, 0, 0.15);
  height: 34px;
  display: inline-block;
  transition-duration: 500ms;
  padding: 6px 10px;
  padding-left: 34px;
}


/* New style for contexts */

.context-menu .card-header {
  padding: .75em;
  cursor: pointer;
}

.context-menu .card-header:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.context-menu .card-header > a {
  display: block;
}

.context-menu .card-header,
.context-menu .card-header i,
.context-menu .card-header .fa,
.context-menu .card-header .title {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.context-menu .card-header .fa {
  padding-right: 8px;
}

/* Should handle with the active */
.context-menu .card-header.active .fa-angle-down {

}



/* TODO this should be removed */
.context-menu #ngb-panel-2-header i,
.context-menu #ngb-panel-2-header .title {
  color: #ff932d;
}

/* TODO this should be removed */
.context-menu #ngb-panel-3-header i,
.context-menu #ngb-panel-3-header .title {
  color: #3bb7f5;
}


/* Context Menus contents of each context */
.context-menu .card-block {
  padding: 0;
}

.context-menu .card-block .sub-level {
  display: block;
  padding: 6px;
  padding-left: 38px;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.context-menu .card-block .sub-level:focus {
  background: rgba(0, 0, 0, 0.1);
  outline: none;
}

.context-menu .card-block .sub-level:hover {
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
}

.context-menu .card-block .sub-level.active {
  border-left: 6px solid #3bb7f5;
  padding-left: 32px;
}