.current-user {
  cursor: pointer; 
}

.current-user .user-area {
  color: #fff;
}

.current-user .user-status {
  height: 38px;
  width: 38px;
  display: block;
  position: relative;
  margin-right: 12px;
}

.current-user .user-status .status {
  padding: 0;
  font-size: 16px;
  position: absolute;
  right: -4px;
  bottom: -4px;
}

.current-user .user-status .status.available {
  color: #32d167
}

.current-user .user-status .status.busy {
  color: #e44c43
}

.current-user .user-status .status.unavailable {
  color: #d6d6d6
}

.current-user .user-status .status i {
  padding: 0;
}

.current-user .user-area h3 {
  color: #fff;
  padding: 0px;
  margin: 0;

  font-size: 14px;

  text-transform: none;

  padding-right: 12px;
}

 /* Probably the dropdown-item-action should be in separated file, with css related with dropdown */
.current-user .dropdown-item-action {
  cursor: default;
}

.current-user .dropdown-item-action:hover,
.current-user .dropdown-item-action:active {
  color: inherit;
  background: none;
}


/* All users status */

.user-identity {
  position: relative;
}

/* Avatar Section */
.user-identity .contact-avatar {
  height: 38px;
  width: 38px;
  position: relative;
}

.user-identity .contact-avatar .status {
  padding: 0;
  font-size: 16px;
  position: absolute;
  right: -4px;
  bottom: -4px;
}

.user-identity .contact-avatar .status.available {
  color: #32d167
}

.user-identity .contact-avatar .status.busy {
  color: #e44c43
}

.user-identity .contact-avatar .status.unavailable {
  color: #d6d6d6;
}

.user-identity .contact-avatar .status i {
  padding: 0;
}

/* Name Section */
.user-identity .contact-name {
  color: rgba(255, 255, 255, 0.8);
  padding: 12px 4px 0px 12px;
  margin: 0;
  display: block;
  font-size: 0.938em;
  text-transform: none;
  text-decoration: none;
}

/* Section for user communication */
.user-identity .contact-box {
  float: left;
  background-color: #fcfdff;
  border-bottom: 1px solid #d6d6d6;
  padding: 22px;
  position: relative;
}

.user-identity .contact-box .contact-avatar {
  height: 82px;
  width: 82px;
  margin-right: 14px;
  position: relative;
}