.search-bar {
  background-color: transparent;
  overflow: visible;
  display: flex;
  padding: .75em;
}

.search-bar.invite {
  padding-top: 4px;
}

.search-bar.invite input.search {
  color: #666;
  border: 1px solid #dedede;
  padding: 8px;
  height: auto;
  width: 100%;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.search-bar.invite form.filter {
  position: relative;
  margin: 0;
  padding: 0;
}

.search-bar.invite form.filter span.fa.fa-search {
  position: absolute;
  right: 12px;
  top: 14px;
  color: rgba(0, 0, 0, 0.15);
}

.search-bar:hover {
  background-color: transparent;
}

.search-bar input.search {
  background-color: rgba(0, 0, 0, 0.15);
  height: 34px;
  margin-top: 3px;
  color: #f8f8f8;
  padding: 6px 10px;
  width: 100%;
  height: 34px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.search-bar input.search:focus {

  display: inline-block;
  transition-duration: 500ms;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

.search-bar label.search {
  width: 38px;
  height: 38px;
  background-color: #009cff;
  border: 1px solid #009cff;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.search-bar label.search:hover {
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.search-bar label.search a {
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  margin: 0;
  padding: 12px;
  text-align: center;
}

.search-bar label.search a i {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

.search-bar label.search a:hover i {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}