
.context-user-view {
  overflow: hidden;
  height: 100%;
}

.sidebar-content {
  height: 100%;
  padding-top: .75em;
  padding-bottom: .75em;

  overflow-y: auto;
}

.sidebar-content .title {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  padding-left: .75em;
  padding-right: .75em;
}

.sidebar-content .list {
  margin: 0;
  float: left;
  width: 100%;
}

.sidebar-content .list .item {
  display: block;
  float: left;
  width: 100%;
}

.sidebar-content .list .item .link {
  display: block;
  overflow: hidden;
  position: relative;
  padding-left: 24px;
  padding-top: .25em;
  padding-bottom: .25em;
  color: #fff;
  cursor: pointer;

  transition: all 150ms ease-in-out;
}

.sidebar-content .list .item .link:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.sidebar-content .list .item .link:active,
.sidebar-content .list .item .link.active {
  border-left: 6px solid #3bb7f5;
  background-color: rgba(0, 0, 0, 0.15);
  padding-left: 18px;
}

.sidebar-content .list .item .link .name {
  padding-left: .5em;
}

.sidebar-content .list .item .link .user-identity {
  position: relative;
  float: left;
  width: 100%;
}

.sidebar-content .list .item .link .pointer {
  position: absolute;
  right: 16px;
  top: 8px;
  padding: 2px 4px;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.sidebar-content .list .item .link .pointer span.action {
  padding: 0;
  display: inline-block;
}

.sidebar-content .list .item .link .pointer span.action a {
  padding: 0;
}

.sidebar-content .list .item .link .pointer span.action i {
  color: #fff;
  font-size: 14px;
}

.sidebar-content .list .item .link:hover .pointer,
.sidebar-content .list .item .link.active .pointer {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  transition-duration: 500ms;
  transform: scale(1, 1) translate3d(0, 0, 0);
  right: 4px;
}

.sidebar-content .list .item .alert {
  position: absolute;
  top: -4px;
  right: 10px;
}

.sidebar-content .list .item .alert a {
  position: relative;
  display: block;
}

.sidebar-content .list .item .alert span.new-message {
  background-color: #e44c43;
  display: inline-block;
  font-size: 10px;
  padding: 1px 4px;
  color: #f8f8f8;
  font-weight: 400;
  position: absolute;
  top: 8px;
  right: 16px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.sidebar-content .list .item .alert i.fa {
  color: rgba(255, 255, 255, 0.15);
  font-size: 22px;
  padding-right: 4px;
}

.sidebar-content .add-context-view {
  width: 24px;
  height: 24px;
  overflow: hidden;
  float: right;
}

.sidebar-content .add-context-view .add-button span.add-user a {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 16px;
  line-height: 13px;
  margin: 0;
  opacity: 0.6;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.sidebar footer {
  width: 100%;
  font-size: 9px;
  color: #fff;
  padding: 4px;
  padding-left: 24px;
  background-color: #3d495f;
  border-top: rgba(255, 255, 255, 0.8);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
