<div class="content-box archive list">
    <h3 class="padding">Archive</h3>
    <ul class="all-100 activity-list">
        <li class="search-bar half-padding">
            <form class="all-100 filter">
                <span class="fa fa-search"></span>
                <input type="text" value="" placeholder="type a file name" id="search-field2" class="search push-left">
            </form>
        </li>
        <li class="half-padding">
            <div class="push-right align-right">
                <span class="date">20/07/2014, 15:36</span>
            </div>
            <p class="quarter-vertical-padding"><span class="file"><i class="fa fa-file-o"></i>file uploaded</span><span class="specs">foto.jpg</span><span class="specs">1.2MB</span></p>
        </li>
        <li class="half-padding">
            <div class="push-right align-right">
                <span class="date">20/07/2014, 15:36</span>
            </div>
            <p class="quarter-vertical-padding"><span class="file"><i class="fa fa-file-o"></i>file uploaded</span><span class="specs">foto.jpg</span><span class="specs">1.2MB</span></p>
        </li>
        <li class="half-padding">
            <div class="push-right align-right">
                <span class="date">20/07/2014, 15:36</span>
            </div>
            <p class="quarter-vertical-padding"><span class="file"><i class="fa fa-file-o"></i>file uploaded</span><span class="specs">KPI.jpg</span><span class="specs">1.2MB</span></p>
            <img src="img/kpi-example.jpg">
        </li>
    </ul>
</div>
