

.activity-list {
  overflow-y: auto;
  padding: 0;
  margin-bottom: 0;

  .list-item {
    display: block;
    padding: .75em;

    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #dedede;
    margin: 0;

    &:last-child {
      border: none;
    }

    .user-identity {

      .user-status {
        margin-right: 20px;
      }

      .extra-info {
        color: #444;
      }

      .contact-name {
        display: inline-block;

        a {
          color: #444;
          margin: 0;
          display: block;
          font-size: 1.0625rem;
          text-transform: none;
          font-weight: 400;
        }
      }
    }

    .message {
      padding-top: .375em;
      padding-bottom: .375em;
      margin-top: 0;
      margin-bottom: 0;
      overflow: hidden;

      span {
        font-size: 0.875rem;
        text-align: top;
        margin-right: 12px;
        font-weight: 400;
      }

      i {
        color: #3bb7f5;
        font-size: 1rem;
        margin-right: 6px;
        margin-left: 1px;
      }

      .chat {
        color: #3bb7f5;
      }
    }

    .date,
    .specs {
      font-size: 0.8125rem;
      color: #444;
      text-transform: none;
      display: block;
      margin-left: 22px;
    }

  }

}
