.rethink-breadcrumb {
    padding: 0;
    margin: 0;
    .menu-trigger {
        padding: 0.5em 1em;
        color: #fff;
        background: #364258;
        border-radius: 5px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    .breadcrumb-path,
    .breadcrumb-trigger {
        float: left;
    }
    .breadcrumb-path {
        h3 {
            margin: 0;
            line-height: normal;
            font-size: 1rem;
            font-weight: 600;
            color: #FFF;
            a {
                color: inherit;
                background: #364258;
                border-radius: 5px;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
        .fa {
            padding-right: 7px;
        }
        &.first h3 .name {
            padding-left: 0;
        }
        h3 .name {
            position: relative;
            padding-left: 20px;
            font-weight: normal;
        }
        &:not(.first) h3 .name::before {
            position: absolute;
            content: '/';
            left: 8px;
            font-weight: 600;
        }
    }
}
