/* Add Button from context menu and contacts list */

.mp-menu .add-context-view {
  position: absolute;
  float: left;
  width: 100%;
  bottom: 40px;
  padding: .75em 1em;

  &:focus,
  &:hover {
    outline: none;
    background: rgba(0, 0, 0, 0.15);
  }

  a {
    color: #fff;
    vertical-align: top;
    line-height: 36px;
    padding-left: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.125rem;

    i {
      font-size: 1rem;
      padding: 0.75em;
      border: 1px solid white;
      border-radius: 43px;
      width: 36px;
      height: 36px;
      text-align: center;
      vertical-align: middle;
      line-height: 13px;
      margin-right: 16px;
    }

  }
}


/* Accordion list from context menu */

.context-menu {
    position: absolute;
    top: 83px;
    bottom: 97px;
    overflow-y: auto;
    width: 100%;
    .card {
        border: none;
        border-radius: 0;
        background: none;
        padding: 0;
    }
    .card-header {
        border: none;
        border-radius: 0;
        background: none;
        padding: 0;
        &:first-child {
            padding: .75em 0;
            display: none;
            +.card-block {
                padding: .75em;
            }
        }
    }
    .search-bar {
        background-color: transparent;
        overflow: visible;
        margin: 0;
        form {
            margin: 0;
        }
        input.search {
            border: none;
            height: 34px;
            margin-top: 3px;
            color: #f8f8f8;
            padding: 6px 10px;
            background-color: rgba(0, 0, 0, 0.15);
            width: 100%;
            height: 34px;
            display: block;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            i.fa-search {
                position: absolute;
                left: 4px;
                top: 4px;
            }
            &:focus {
                background-color: rgba(0, 0, 0, 0.15);
                height: 34px;
                display: inline-block;
                transition-duration: 500ms;
                padding: 6px 10px;
                padding-left: 34px;
            }
        }
    }
    .card-header {
        padding: .75em;
        cursor: pointer;
        transition: all 150ms ease-in-out;
        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }
        >a {
            display: block;
        }
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        i,
        .fa,
        .title {
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
        }
        .fa {
            padding-right: 8px;
        }
        &.active+.card-block {
            opacity: 1;
        }
    }
    #ngb-panel-2-header {
        i,
        .title {
            color: #ff932d;
        }
    }
    #ngb-panel-3-header {
        i,
        .title {
            color: #3bb7f5;
        }
    }
    .card-block {
        padding: 0;
        .sub-level {
            display: block;
            padding: 6px;
            padding-left: 38px;
            font-size: 13px;
            text-transform: uppercase;
            position: relative;
            color: rgba(255, 255, 255, 0.8);
            margin: 0;
            transition: all 150ms ease-in-out;
            &:focus {
                background: rgba(0, 0, 0, 0.1);
                outline: none;
            }
            &:hover {
                color: #fff;
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.15);
            }
            &.active {
                border-left: 6px solid #3bb7f5;
                padding-left: 32px;
            }
        }
    }
}
