.search-bar {
  background-color: transparent;
  overflow: visible;
  padding: .75em;

  form.filter {
    position: relative;
    margin: 0;
    padding: 0;

    input {
      color: #dedede;
    }

    span.fa.fa-search {
      position: absolute;
      right: 12px;
      top: 14px;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &.invite {
    padding-top: 4px;

    input.search {
      color: #666;
      border: 1px solid #dedede;
      padding: 8px;
      height: auto;
      width: 100%;
      background-color: #fff;

      border-radius: 4px;
    }
  }

  &:hover {
    background-color: transparent;
  }

  input.search {
    background-color: rgba(0, 0, 0, 0.15);
    height: 34px;
    margin-top: 3px;
    color: #f8f8f8;
    padding: 6px 10px;
    width: 100%;
    height: 34px;
    border: none;

    border-radius: 4px;

    &:focus {
      display: inline-block;
      transition-duration: 500ms;
      background-color: rgba(0, 0, 0, 0.15);
      border: none;
    }
  }

  label.search {
    width: 38px;
    height: 38px;
    background-color: #009cff;
    border: 1px solid #009cff;
    display: inline-block;

    border-radius: 50%;

    &:hover {

      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
      transition: all 150ms ease-in-out;
    }

    a {
      color: #fff;
      font-size: 14px;
      line-height: 36px;
      margin: 0;
      padding: 12px;
      text-align: center;

      i {
        opacity: 0.6;
      }

      &:hover i {
        opacity: 1;
        transition: all 150ms ease-in-out;
      }
    }
  }
}
