.context-user-view {
    overflow: hidden;
    height: 100%;
}

.sidebar {
  background-color: #414d63;

  display: block;
  height: 100%;

  z-index: 2;

  @include media-breakpoint-down(xs) {

    transition: all 300ms ease-in-out;
    transform: translate(-100%, 0);
    display: block !important;

  }

  &.opened {
    transform: translate(0, 0);
  }

  .add-user-action,
  .add-context-view {

    margin-top: -6px;
    margin-right: 6px;

    width: 28px;
    height: 28px;
    overflow: hidden;
    float: right;

    a {
      display: block;
      width: 100%;
      height: 100%;

      color: #fff;
      text-align: center;
      font-size: 1.5rem;

      overflow: hidden;
      line-height: 28px;

      transition: 150ms all ease-in-out;
    }

    a:hover {
      color: #3bb7f5;
    }

  }
}

.sidebar-content {
    height: 100%;
    padding-top: .75em;
    padding-bottom: .75em;
    overflow-y: auto;

    .users,
    .contexts {
      height: 50%;

      // border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .title {
        color: #fff;
        font-size: 1em;
        text-transform: uppercase;
        padding-left: .75em;
        padding-right: .75em;
    }
}

.sidebar footer {
    width: 100%;
    font-size: 9px;
    color: #fff;
    padding: 4px;
    padding-left: 24px;
    background-color: #3d495f;
    border-top: rgba(255, 255, 255, 0.8);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}
