<div class="push-right align-right">
    <span class="date">{{activity.date}}</span>
</div>
<div class="contact-avatar push-left">
    <img src="{{activity.user.avatar}}">
    <span class="status {{activity.user.status}}">
      <i class="fa fa-circle{{activity.user.status==='offline'?'-o':''}}"></i>
    </span>
</div>
<h4 class="contact-name"><a href="#">{{activity.user.cn}}</a></h4>

<!-- message -->
<p class="quarter-vertical-padding">
  <span class="chat"><i class="fa fa-keyboard-o"></i>Wrote a Message</span>
  {{activity.message}}
</p>