<form class="w-100 row no-gutters float-left" #sendForm="ngForm" (submit)="onSubmit(sendForm.value)">

    <div class="message col-12 col-lg-7 float-left">
        <input type="text" placeholder="your message goes here"
        class="form-control w-100 chat-sender"
        [(ngModel)]="model.message" ngControl="message" name="message">
    </div>

    <!-- TODO: Add when this funcionality it's ready -->
    <!--
    <span class="line mt-3 hidden-lg-up"></span>

    <ul class="uploader col-12 col-lg-5 mb-0 pt-3 pt-md-0 float-left">
        <li class="send-file w-50  float-left align-center">
          <a class="send-file" href="#"><i class="fa fa-file-o"></i> add file</a>
        </li>
        <li class="take-pic w-50 float-left align-center">
          <a class="snap" hre="#"><i class="fa fa-camera-retro"></i> take a photo</a>
        </li>
    </ul>
    -->
</form>
