<div class="{{mode}}-call ">

	<div class="video-wall">
		<video *ngIf="stream" class="player" [src]="stream" autoplay></video>
	</div>

	<div *ngIf="mode === 'video'" class="video-wall my-video-wall">
		<video *ngIf="myStream" class="player" [src]="myStream" autoplay muted></video>
	</div>

	<div class="contact-me align-center half-horizontal-padding">

		<span class="action audio mute push-left">
			<a href="javascript:;" (click)="onMute()"><i class="fa fa-microphone-slash"></i></a>
		</span>

		<span *ngIf="mode === 'audio'"  class="action audio push-center">
			<a href="javascript:;" [routerLink]="" [queryParams]="{ action: 'video' }" (click)="enableVideo()"><i class="fa fa-video-camera"></i></a>
		</span>

		<span *ngIf="mode === 'video'" class="action audio push-center">
			<a href="javascript:;" [routerLink]="" [queryParams]="{ action: 'audio' }" (click)="disableVideo()"><i class="fa fa-phone"></i></a>
		</span>

		<span *ngIf="mode === 'audio'" class="action audio hangup push-center">
			<a href="javascript:;" [routerLink]="" [queryParams]="{}"><i class="fa fa-phone"></i></a>
		</span>

		<span *ngIf="mode === 'video'" class="action video hangup push-center">
			<a href="javascript:;" [routerLink]="" [queryParams]="{}"><i class="fa fa-video-camera"></i></a>
		</span>

		<span class="counter">{{duration | amTimeElapsed}}</span>

		<span class="action volume push-right">
			<a href="javascript:;" (click)="onVolume()"><i class="fa fa-volume-up"></i></a>
		</span>

		<span class="action full-screen push-right">
			<a href="javascript:;" (click)="onFullscreen()"><i class="fa fa-arrows-alt"></i></a>
		</span>
	</div>
</div>