:host {
  position: relative;
}

:host .video-wall {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

:host .audio-call .video-wall {
  background: none;
  z-index: -1;
}

:host .video-call .video-wall {
  background: #000;
}