<div class="{{mode}}-call ">

	<video *ngIf="stream" class="video-wall" [src]="stream" autoplay controls></video>
	<video *ngIf="myStream" class="video-wall" [src]="myStream" autoplay muted></video>

	<div class="contact-me align-center half-horizontal-padding">

		<span class="action audio mute push-left">
			<a href="javascript:;" (click)="onMute()"><i class="fa fa-microphone-slash"></i></a>
		</span>

		<span *ngIf="mode === 'audio'"  class="action audio push-center">
			<a href="javascript:;" [routerLink]="" [queryParams]="{ action: 'video' }" (click)="enableVideo()"><i class="fa fa-video-camera"></i></a>
		</span>

		<span *ngIf="mode === 'video'" class="action audio push-center">
			<a href="javascript:;" [routerLink]="" [queryParams]="{ action: 'audio' }" (click)="disableVideo()"><i class="fa fa-phone"></i></a>
		</span>

		<span *ngIf="mode === 'audio'" class="action audio hangup push-center">
			<a href="javascript:;" (click)="onHangup()"><i class="fa fa-phone"></i></a>
		</span>

		<span *ngIf="mode === 'video'" class="action video hangup push-center">
			<a href="javascript:;" (click)="onHangup()"><i class="fa fa-video-camera"></i></a>
		</span>

		<span class="counter">02:33</span>

		<span class="action volume push-right">
			<a href="javascript:;" (click)="onVolume()"><i class="fa fa-volume-up"></i></a>
		</span>
	</div>
	<div class="contact-me topper align-center half-horizontal-padding">
		<span class="action full-screen push-right"><a href="#"><i class="fa fa-arrows-alt"></i></a></span>
	</div>
</div>