<div class="current-user" ngbDropdown #myDrop="ngbDropdown">

  <div ngbDropdownToggle id="dropdownConfig" class="d-flex justify-content-around align-items-center user-area">
    <user-identity [model]="model"></user-identity>
  </div>

  <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownConfig">
    <h6 class="dropdown-header">User Availability</h6>
    <div class="dropdown-item dropdown-item-action" href="#">
      <span class="d-block pb-1">Availability:</span>
      <div ngbRadioGroup [(ngModel)]="model.status" class="btn-group-vertical w-100" name="status">
        <label ngbButtonLabel class="btn btn-sm mb-0 text-left {{ model.status === 'available' ? 'btn-success' : 'btn-outline-secondary' }}">
          <input ngbButton type="radio" autocomplete="off" value="available" (click)="onChangeEvent('available')">On
        </label>
        <label ngbButtonLabel class="btn btn-sm mb-0 text-left {{ model.status === 'busy' ? 'btn-danger' : 'btn-outline-secondary' }}">
          <input ngbButton type="radio" autocomplete="off" value="busy" (click)="onChangeEvent('busy')">Busy
        </label>
        <label ngbButtonLabel class="btn btn-sm mb-0 text-left {{ model.status === 'unavailable' ? 'btn-secondary' : 'btn-outline-secondary' }}">
          <input ngbButton type="radio" autocomplete="off" value="unavailable" (click)="onChangeEvent('unavailable')">Off
        </label>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <button class="dropdown-item">soon</button>
  </div>
</div>
