<ul class="activity-list">

    <li class="half-padding {{message.read === false ? 'unread' : ''}}" *ngFor="let message of messages | async">

      <div class="push-right align-right">
          <span class="date">at {{message.date}}</span>
      </div>
      <div class="contact-avatar push-left">
          <img src="{{message.user.avatar}}">
          <span class="status {{message.user.status}}"><i class="fa fa-circle"></i></span>
      </div>

      <!-- <h4 class="contact-name"><a class="" href="user.html">{{message.user.name}}</a></h4> -->

      <div [ngSwitch]="message.type">

        <p *ngSwitchCase="'message'" class="quarter-vertical-padding">
          <span class="message">{{message.message}}</span>
        </p>

        <span *ngSwitchCase="'video-call'" class="video failed push-left"><i class="fa fa-video-camera"></i>Video call failed</span>
        <span *ngSwitchCase="'video-call'" class="callback"><a href="call.html">call back</a></span>

        <span *ngSwitchCase="'audio-call'" class="audio"><i class="fa fa-phone"></i>Audio call</span>
        <span *ngSwitchCase="'audio-call'" class="specs">6 mins</span>

        <div *ngSwitchCase="'file-share'">
          <p class="quarter-vertical-padding"><span class="file"><i class="fa fa-file-o"></i>Shared a file</span><span class="specs">nomedoficheiro.jpg</span></p>
          <div class="filetransfer">
            <a id="myModalTrigger3" href="#file-view"><img src="img/fileteste.jpg"></a>
          </div>
        </div>

      </div>

    </li>
</ul>

<!--
<div class="tagline"><span class="older"><i class="fa fa-angle-up"></i> Older messages</span>
    <hr>
</div>
<li class="half-padding">
    <div class="push-right align-right">
        <span class="date">at 14:30</span>
    </div>
    <div class="contact-avatar push-left">
        <img src="img/avatar.jpg">
        <span class="status online"><i class="fa fa-circle"></i></span>
    </div>
    <h4 class="contact-name"><a class="" href="user.html">Rita Coelho</a></h4>
    <p class="quarter-vertical-padding"><span class="file"><i class="fa fa-file-o"></i>Shared a file</span><span class="specs">nomedoficheiro.jpg</span></p>
    <div class="filetransfer">
        <a id="myModalTrigger3" href="#file-view"><img src="img/fileteste.jpg"></a>
    </div>
</li>
<div class="tagline"><span class="tag"><i class="fa fa-bookmark"></i>Lorem</span>
    <hr>
</div>
<li class="half-padding">
    <div class="push-right align-right">
        <span class="date">at 14:30</span>
    </div>
    <div class="contact-avatar push-left">
        <img src="img/avatar.jpg">
        <span class="status online"><i class="fa fa-circle"></i></span>
    </div>
    <p class="quarter-vertical-padding">
        <span class="message">Lorem ipsum dolor sit amet, vix eu exerci efficiantur, antiopam indoctum usu et. Vis te quot</span>
    </p>
</li>
<li class="half-padding">
    <div class="push-right align-right">
        <span class="date">at 14:30</span>
    </div>
    <div class="contact-avatar push-left">
        <img src="img/avatar.jpg">
        <span class="status online"><i class="fa fa-circle"></i></span>
    </div>
    <p class="quarter-vertical-padding">
        <span class="message">Lorem ipsum dolor sit amet, vix eu exerci efficiantur.</span>
    </p>
</li>

<li class="half-padding reply">
    <div class="push-right align-right">
        <span class="date">at 14:30</span>
    </div>
    <div class="contact-avatar push-left">
        <img src="img/avatar-1.jpg">
        <span class="status online"><i class="fa fa-circle"></i></span>
    </div>
    <span class="message-options">
                          <ul class="messages">
                              <li class=""><a href="#"><i class="fa fa-pencil"></i>edit</a></li>
                              <li class=""><a href="#"><i class="fa fa-close"></i>delete</a></li>
                              <li class=""><a href="#"><i class="fa fa-tag"></i>tag</a></li>
                          </ul>

                        </span>
    <p class="quarter-vertical-padding">
        <span class="message">Lorem ipsum dolor sit amet, vix eu exerci efficiantur.</span>
    </p>
</li>
<li class="half-padding unread">
    <div class="push-right align-right">
        <span class="date">at 14:30</span>
    </div>
    <div class="contact-avatar push-left">
        <img src="img/avatar.jpg">
        <span class="status online"><i class="fa fa-circle"></i></span>
    </div>
    <p class="quarter-vertical-padding">
        <span class="message">Lorem ipsum dolor sit amet, vix eu exerci efficiantur.</span>
    </p>
</li>
-->
