<!DOCTYPE html>
<html data-ng-app="wonderApp">
  <head>
     <meta http-equiv="X-UA-Compatible" content="IE=Edge; text/html;" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,  user-scalable=yes" />
    <title>Wonder</title>
    <link rel="icon" href="css/images/favicon.ico" type="image/x-icon" />

   <!-- <link href="basepack/bootstrap-pt/3.0/css/bootstrap.css" rel="stylesheet">-->
    <!--<link href="http://pds.ptin.corppt.com/basepack/bootstrap-pt/2.3/css/bootstrap-responsive.css" rel="stylesheet">-->
     
    <link href="basepack/bootstrap-pt/3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/wonder.min.css" rel="stylesheet">
    <script src="basepack/modernizr/2.6/modernizr.js"></script>
    <script src="css/spin/spin.js"></script>
    <script src="css/spin/spin.min.js"></script>
 
  

  </head>
  <body >   
	<!-- Add -->
		  <div class="mainWrapper" >
      <header class="mainHeader">
            <div class="fx-brand pull-left"><a ng-click="home()" ng-controller="contactController" class="fx-logo-brand"></a></div>
            <div class="pull-right"><i class="fa fa-cog font24" ng-controller="LoginController" ng-click="closeSession('hello')"></i></div>
              </header>

      <div class="row-fluid" data-ng-view=""></div>
    </div>
 	<!-- Add -->
    <script src="basepack/jquery/1.9/jquery.min.js"></script>
	<script src="basepack/modernizr/2.6/modernizr.js"></script>
	<script src="angular/1.2/angular.min.js"></script>
	<script src="angular/1.2/angular-route.min.js"></script>
    <script src="basepack/bootstrap-pt/3.0/js/bootstrap.min.js"></script>

    <script src="fuxi/jquery-ui-1.10.4.custom.min.js"></script>

    
	<!-- Add -->
	<script src="exec/wonder.min.js"></script>
 <script src="exec/wonder.js"></script>
 <script src="ngDraggable.js"></script>

 <script src="scripts/app.js"></script>
 <!--IoTest-->
 <script src="context.js"></script>
 <script src="sensing.js"></script>
 <script src="ng-google-chart.js"></script>
 <script src="xml2json.js"></script>
    	<!--Settings-->
    <script src="../settings/domain.js"></script>
    	<!--  API WONDER    -->
	<script src="../api/notify.js"></script>
	        
	<script src="../api/adapter.js"></script>
	<script src="../api/Resource.js"></script>
	<script src="../api/DataBroker.js"></script>
	<script src="../api/DataMessage.js"></script>
	<script src="../api/Codec.js"></script>
	<script src="../api/Message.js"></script>
	<script src="../api/Identity.js"></script>
	<script src="../api/Enums.js"></script>
	<script src="../api/helpfunctions.js"></script>
	<script src="../api/Conversation.js"></script>
	<script src="../api/Participant.js"></script>
	<script src="../api/Idp.js"></script>
	
	<script src="../api/MessageFactory.js"></script>
	<script src="../api/MessagingStub.js"></script>
	
 <!--  Third Party libs    -->

  <script src="libs/async.js"></script>
  <!--Modules-->
  <script src="scripts/modules/contactManager.js"></script>
  <script src="scripts/modules/sessionManager.js"></script>
  <script src="scripts/modules/groupManager.js"></script>


  </body>
  <footer class="mainFooter">
  <a href="http://www.ptinovacao.pt/pt/index.html" target="_blank"><img src="css/images/ptis.png" alt="PTInS">
    </a>

</footer>



</html>