<div class="push-right align-right">
    <span class="date">{{model.date}}</span>
</div>
<div class="contact-avatar push-left">
    <img src="{{model.contact.avatar}}">
    <span class="status {{model.contact.status}}">
      <i class="fa fa-circle{{model.contact.status==='offline'?'-o':''}}"></i>
    </span>
</div>
<h4 class="contact-name"><a href="#">{{model.contact.name}}</a></h4>

<!-- message -->
<p *ngIf="model.type === 'message'" class="quarter-vertical-padding">
  <span class="chat"><i class="fa fa-keyboard-o"></i>Wrote a Message</span>
  {{model.message}}
</p>

<!-- audio call -->
<p *ngIf="model.type === 'audio-call'" class="quarter-vertical-padding">
  <span class="audio"><i class="fa fa-phone"></i>Audio call</span>
  <span class="specs">{{model.duration}} mins</span>
</p>

<p *ngIf="model.type === 'audio-call-failed'" class="quarter-vertical-padding">
  <span class="audio failed push-left"><i class="fa fa-phone"></i>Audio Call failed</span>
  <span class="callback"><a href="#">call back</a></span>
</p>

<!-- video call -->
<p *ngIf="model.type === 'video-call'" class="quarter-vertical-padding">
  <span class="video"><i class="fa fa-video-camera"></i>Video call</span>
  <span class="specs">{{model.duration}} mins</span>
</p>

<p *ngIf="model.type === 'video-call-failed'" class="quarter-vertical-padding">
  <span class="video failed push-left"><i class="fa fa-video-camera"></i>Video call failed</span>
  <span class="callback"><a href="#">call back</a></span>
</p>

<!-- file-share -->
<div *ngIf="model.type === 'file-share'">
  <p class="quarter-vertical-padding">
    <span class="file"><i class="fa fa-file-o"></i>Shared a file</span>
    <span class="specs">foto.jpg</span>
  </p>
  <div class="filetransfer">
    <a href="#file-view"><img src="img/fileteste.jpg"></a>
  </div>
</div>
