<div class="contact-avatar push-left">
    <img src="{{model.avatar}}">
    <span class="status {{model.status}}">
      <i class="fa fa-circle{{model.status==='offline'?'-o':''}}"></i>
    </span>
</div>
<div class="all-70">
    <h4 class="contact-name"><a href="javascript:;">{{model.cn}}</a></h4>
</div>
<div *ngIf="model.unread" class="alert">
    <a href="user.html"><span class="new-message">{{model.unread}}</span></a>
    <i class="fa fa-comment-o"></i>
</div>
<div class="pointer">
    <span class="action chat"><i class="fa fa-angle-right"></i></span>
</div>
