<div class="container-fluid">
  <div class="content-panel">

    <div class="pt-3">
      <h2>Dashboard</h2>

      <div class="pt-3 row">

        <div class="col-6">
          <h3>Contexts List</h3>

          <div class="list-group list-group-root" *ngFor="let context of contextualComms | async;">

            <div class="list-group-item justify-content-between">
              <!--<a routerLink="{{context.name | lowercase}}" routerLinkActive="active">
                <i *ngIf="context.icon" class="pr-3 fa fa-{{context.icon}}"></i>{{context.name}}
              </a>-->
              <span>
                <i *ngIf="context.icon" class="pr-3 fa fa-{{context.icon}}"></i>{{context.name}}
              </span>
              <span class="badge badge-default badge-pill">{{context.contexts.length}}</span>
            </div>

            <div class="list-group" *ngFor="let item of context.contexts;">
              <div class="list-group-item justify-content-between">
                <a routerLink="{{context.name}}/{{item.name | lowercase}}" routerLinkActive="active">
                  <i *ngIf="item.icon" class="pr-3 fa fa-{{item.icon}}"></i>{{item.name}}
                </a>
              </div>
            </div>

          </div>

          <div class="pt-3">
            <a class="btn btn-outline-primary" href="javascript:;" (click)="onCreateEvent()">Create new context</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>