<!-- container -->
<div class="container-fluid">
  <div class="row">

    <!-- pusher -->
    <div class="mp-pusher wrapper {{contextOpened ? 'mp-pushed' : ''}}" (click)='onClickOutside($event)' id="mp-pusher">
        <!-- <nav context-menu></nav> -->

        <!-- scroller -->
        <div class="scroller">

            <!-- scroller-inner -->
            <div class="scroller-inner">
                <header class="all-100 half-padding">
                    <ul context-breadcrumb onOpenContext="onOpenContext($event)"></ul>
                    <h1 class="small-logo push-left"><img src="../assets/img/rethinklogo2.png"></h1>
                    <ul my-self [model]="myIdentity"></ul>
                </header>

                <!-- Router Outlet -->
                <router-outlet></router-outlet>

            </div>
            <!-- /scroller-inner -->
        </div>
        <!-- /scroller -->
    </div>
  </div>
    <!-- /pusher -->
</div>
<!-- /container -->
