.rethink-breadcrumb {
  padding: 0;
  margin: 0;

  .menu-trigger {
    padding: 0.5em 1em;
    color: #fff;
    background: #364258;
    border-radius: 4px;

    border: 1px solid transparent;

    display: inline;
    text-decoration: none;
    text-align: center;

    overflow: hidden;

    cursor: pointer;

    transition: all 200ms ease-in-out;

    .fa {
      transition: all 200ms ease-in-out;
    }

    .icon-back {
      opacity: 0;
      transform: translate(20px, 0);
    }

    .icon-ellipsis {
      opacity: 1;
      transform: translate(8px, 0);
    }

    &.opened {

      border: 1px solid #1ba5bc;
      background-color: rgba(0, 0, 0, 0.1);

      .icon-back {
        opacity: 1;
        transform: translate(-4px, 0);
      }

      .icon-ellipsis {
        opacity: 0;
        transform: translate(-20px, 0);
      }

    }

    &:hover {
      border: 1px solid #1ba5bc;
      background-color: rgba(0, 0, 0, 0.1);
    }

  }

  .breadcrumb-path,
  .breadcrumb-trigger {
    display: inline-block;
    vertical-align: middle;
  }

  .breadcrumb-path {
    h3 {
      margin: 0;
      line-height: normal;
      font-size: 1rem;
      font-weight: 600;
      color: #FFF;
      padding: 0.5em 0.5em;

      a {
        color: inherit;
        background: #364258;
        border-radius: 5px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .fa {
      padding-right: 0.4375rem;
    }

    &.first h3 {
      padding-right: 0;
    }

    &.last h3 {
      padding-left: 0;
    }

    &.first.last {
      padding-left: .75rem;

      @include media-breakpoint-down(xs) {
        padding-left: 0;
      }
    }

    &.first h3 .name {
      padding-left: 0;
    }

    h3 .name {
      position: relative;
      padding-left: 20px;
      font-weight: normal;
    }

    &:not(.first) h3 .name::before {
      position: absolute;
      content: '/';
      left: 8px;
      font-weight: 600;
    }
  }
}
