.user-status {
  height: 38px;
  width: 38px;
  display: block;
  position: relative;

  > img {
    width: 100%;
    height: 100%;
  }

  .status {
    padding: 0;
    font-size: 16px;
    position: absolute;
    right: -4px;
    bottom: -4px;

    &.available {
      color: #32d167;
    }

    &.busy {
      color: #e44c43;
    }

    &.unavailable {
      color: #d6d6d6;
    }

    i {
      padding: 0;
    }
  }
}

.user-identity {
  position: relative;

  .user-profile {
    line-height: 1.125rem;
    padding-left: 0.875rem;
  }

  .extra-info,
  .contact-name {
    margin: 0;
    font-size: 1rem;
    text-transform: none;
    text-decoration: none;
  }

  .extra-info {
    font-size: 0.75rem;
    color: #d6d6d6;
  }

  .contact-box {
    float: left;
    background-color: #fcfdff;
    border-bottom: 1px solid #d6d6d6;
    padding: 22px;
    position: relative;

    .contact-avatar {
      height: 82px;
      width: 82px;
      margin-right: 14px;
      position: relative;
    }

  }

}

.current-user {

  cursor: pointer;
  color: #FFF;

  .user-identity {

    display: inline-block;

    .contact-name {
      color: #fff;
      padding: 0px;
      margin: 0;
      font-size: 1rem;
      padding-right: 12px;
    }

  }

  .dropdown-item-action {

    cursor: default;

    &:hover, &:active {
      color: inherit;
      background: none;
    }
  }

}
