<div class="mp-level">

	<h2 class="half-padding">"Contexts"</h2>

	<ngb-accordion class="context-menu" #acc="ngbAccordion" activeIds="form" (panelChange)="beforeChange($event)">

		<ngb-panel id="form">
			
			<ng-template ngbPanelContent>
				<div class="search-bar">

					<form class="all-100 filter">
						<span class="fa fa-search"></span>
						<input type="text" value="" placeholder="type a team's name" id="search-field" class="search push-left">
					</form>

				</div>
			</ng-template>

		</ngb-panel>

		<ngb-panel *ngFor="let trigger of contextualCommTrigger | async">

			<ng-template ngbPanelTitle>
				<span class="fa fa-angle-up push-right"></span>
				<span class="title"><i class="fa fa-briefcase"></i>{{trigger.contextName}}</span>
			</ng-template>

			<ng-template ngbPanelContent>

				<ul>
						<li *ngFor="let context of trigger.trigger">
							<a class="sub-level" routerLink="{{trigger.contextName}}/{{context.name}}" routerLinkActive="active">{{context.name}}</a>
						</li>
				</ul>

			</ng-template>
		</ngb-panel>
	</ngb-accordion>

	<add-contextualComm-view></add-contextualComm-view>
</div>
