<div class="mp-level">

	<h2 class="p-3">Contexts</h2>

	<ngb-accordion class="context-menu" #acc="ngbAccordion" activeIds="form" (panelChange)="beforeChange($event)">

		<ngb-panel id="form">

			<ng-template ngbPanelContent>
				<div class="search-bar">

					<form class="filter">
						<span class="fa fa-search"></span>
						<input type="text" value="" placeholder="type a team's name" id="search-field" class="search push-left">
					</form>

				</div>
			</ng-template>

		</ngb-panel>

		<ngb-panel *ngFor="let context of contextualComm | async; let i = index;">

			<ng-template ngbPanelTitle>
				<span class="fa fa-angle-down float-right"></span>
				<span class="title"><i class="fa fa-{{context.icon}}"></i>{{context.name}}</span>
			</ng-template>

			<ng-template ngbPanelContent>

				<ul>
						<li [hidden]="sub.name.includes('@')" *ngFor="let sub of context.contexts">
							<a class="sub-level" routerLink="{{context.name | lowercase}}/{{sub.name | lowercase}}" routerLinkActive="active">{{sub.name}}</a>
						</li>
				</ul>

			</ng-template>
		</ngb-panel>
	</ngb-accordion>

	<add-contextualComm-view></add-contextualComm-view>
</div>
