<div class="push-right align-right">
    <span class="date">{{message.date | amTimeAgo}}</span>
</div>
<div class="user-identity">
  <div class="contact-avatar push-left">
      <img src="{{message.user.avatar}}">
      <span class="status {{message.user.status}}">
        <i class="fa fa-circle{{message.user.status==='offline'?'-o':''}}"></i>
      </span>
  </div>
</div>
<h4 class="contact-name"><a routerLink="{{message.user.username}}">{{message.user.cn}}</a></h4>

<!-- message -->
<p class="quarter-vertical-padding">
  <span class="chat"><i class="fa fa-keyboard-o"></i>Wrote a Message</span>{{message.message}}
</p>
