<div class="float-right align-right">
    <span class="date">{{message.date | amTimeAgo}}</span>
</div>

<!-- TODO: This should be replaced by the user-identity -->
<div class="user-identity">
  <div class="user-status float-left">
    <img alt="{{message.user.avatar}}" class="rounded-circle" src="{{message.user.avatar}}">
    <span class="status {{message.user.status}}">
      <i class="fa fa-circle{{message.user.status === 'unavailable' ? '-o' : ''}}"></i>
    </span>
  </div>

  <div class="user-profile">
    <h3 class="contact-name"><a [routerLink]="['user', message.user.username]">{{message.user.cn}}</a></h3>
    <span class="extra-info">{{message.user.domain}}</span>
  </div>
</div>
<!-- END OF THE user-identity -->

<!-- message -->
<p class="message">
  <span *ngIf="isAnEvent" class="{{ message.type }}">
    <i class="fa fa-file-o"></i>Shared a file
  </span>{{message.message.name}} - {{ message.message.size | size }}
</p>

<!-- preview -->
<!-- <div class="filetransfer">
  <a href="#file-view"><img src="../../../../assets/img/fileteste.jpg"></a>
</div> -->
