<div class="float-right align-right">
    <span class="date">{{message.date | amTimeAgo}}</span>
</div>

<!-- TODO: This should be replaced by the user-identity -->
<div class="user-identity">
  <div class="user-status float-left">
    <img alt="{{message.user.avatar}}" class="rounded-circle" src="{{message.user.avatar}}">
    <span class="status {{message.user.status}}">
      <i class="fa fa-circle{{message.user.status === 'unavailable' ? '-o' : ''}}"></i>
    </span>
  </div>

  <div class="user-profile">
    <h3 class="contact-name"><a [routerLink]="['user', message.user.username]">{{message.user.cn}}</a></h3>
    <span class="extra-info">{{message.user.domain}}</span>
  </div>
</div>
<!-- END OF THE user-identity -->

<!-- message -->
<p class="message">
  <span *ngIf="isAnEvent" class="{{ message.type }}">
    <i class="fa fa-{{ message.type }}-o"></i>Shared a {{ message.type }}
  </span>

  <span class="specs">
    <a href="javascript:;" class="info" title="{{message.message.name}}">{{message.message.name}}</a>
    <span class="info">({{ message.message.size | size }})</span>
    <a class="info" href="javascript:;" role="button" (click)="onOpenResource($event)">
      <i *ngIf="previewOpen" class="fa fa-arrow-circle-o-up"></i>
      <i *ngIf="!previewOpen" class="fa fa-arrow-circle-o-down"></i>
    </a>
  </span>
</p>

<!-- preview -->
<div #filetransfer class="filetransfer">
  <a href="#file-view"><img src="{{ message.message.preview }}"></a>
</div>
