<ng-template #addUserContent let-c="close" let-d="dismiss">

  <div class="row justify-content-md-center add-user-view fade {{ready ? 'visible' : ''}}">
    <div class="col-12">

      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body row">

        <div class="col-sm-12 col-md-6">
          <div class="modal-header">
            <h5 class="modal-title" id="addUserTitle">Add User</h5>
          </div>

          <ng-template #rt let-user="result" let-t="term">
            <user-identity [model]="user"></user-identity>
          </ng-template>

          <div class="form-group search-group">
            <div class="input-group">
              <input id="typeahead-template" type="text" class="form-control" value="" placeholder="Search users"
                [(ngModel)]="searchResultModel" [ngbTypeahead]="search" [resultTemplate]="rt" />
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
          </div>

        </div>

        <div class="col-sm-12 col-md-6">
          <div class="modal-header">
            <h5 class="modal-title" id="inviteUserTitle">Invite Users</h5>
          </div>

          <form class="invite" #inviteForm (submit)="submitEvent(inviteForm.value)">

            <div class="form-group">
              <input type="text" [disabled]="busy" [(ngModel)]="model.email" ngControl="email" name="email"
              class="form-control" placeholder="someone@mail.com" required>
            </div>

            <div class="form-group">
              <input type="text" [disabled]="busy" [(ngModel)]="model.domain" ngControl="domain" name="domain"
                class="form-control" placeholder="some.domain.com" required>
            </div>

            <div class="progress" [style.display]="!busy ? 'none' : 'block'">
              <div class="progress-bar progress-bar-striped active" role="progressbar"
              aria-valuenow="100" aria-valuemin="0"
              aria-valuemax="100"
              style="width: 100%">
                <span class="sr-only">Inviting</span>
              </div>
            </div>

            <div class="fx-login-submit">
              <button class="btn btn-success" [disabled]="busy" type="submit">Invite</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</ng-template>


<!-- Add contact button -->
<a href="javascript:;" class="float-left" (click)="open(addUserContent)">
  <i class="fa fa-plus-circle"></i>Add Contact
</a>
