/* TODO: change this to bootstrap*/

:host {
  background-color: #eff0f4;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 0;
  position: fixed;
  z-index: -1;
  display: block;
  filter: alpha(Opacity=0);
  opacity: 0;
}

:host(.fade) {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

:host(.visible) {
  opacity: 1;
  z-index: 500;
}

:host(.visible) .ink-modal {
  display: flex;
  height: auto;
  flex-direction: column;
  opacity: 1;
}