<ul class="context-user-view contactlist all-100">
    <!-- Search contact input -->
    <li class="search-bar half-padding">
        <form class="all-100 filter">
            <span class="fa fa-search"></span>
            <input type="text" placeholder="type a name" class="search push-left" (keyup)="onFilterKey($event)">
        </form>
    </li>

    <!-- List of ContactComponent -->
    <li *ngFor="let contact of contactsFilter | async">
        <a class="item" [routerLink]="[this.basePath, contact.username]" routerLinkActive="active">
            <user-identity *ngIf="contact" [model]=contact></user-identity>
        </a>
    </li>
</ul>

<add-user-view [hidden]="hide"></add-user-view>