<!-- Search contact input -->
<div class="search-bar">
    <form class="filter">
        <span class="fa fa-search"></span>
        <input type="text" placeholder="type a name" class="search push-left" (keyup)="onFilterKey($event)">
    </form>
</div>

<div class="sidebar-content">

  <div class="contexts float-left w-100 pb-3">
    <h4 class="title float-left">Contexts</h4>

    <add-contextualcomm-view *ngIf="allowAddUser"></add-contextualcomm-view>

    <ul class="context-list p-0">
      <li class="item p-0 m-0" *ngFor="let context of contexts | async">
        <a class="link" [routerLink]="[context.name]" routerLinkActive="active">
          <i *ngIf="context.icon" class="fa fa-{{context.icon}}"></i>
          <span class="name">{{context.name}}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="users float-left w-100 pb-3 pt-3">
    <h4 class="title float-left">Users</h4>

    <add-user-view *ngIf="allowAddUser"></add-user-view>

    <ul class="contact-list">
      <!-- List of ContactComponent -->
      <li class="item m-0" *ngFor="let contact of contactsFilter | async">
        <a class="link" [routerLink]="[this.basePath, 'user', contact.username]" routerLinkActive="active">

          <user-identity *ngIf="contact" [model]=contact></user-identity>

          <div *ngIf="contact.unread" class="alert">
              <span class="new-message">{{contact.unread}}</span>
              <i class="fa fa-comment-o"></i>
          </div>
          <div class="pointer">
              <span class="action chat"><i class="fa fa-angle-right"></i></span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<footer class="alt-foot">
    Copyright 2016 © Altice Labs - All rights reserved
</footer>
