:host(.notification-view) {
  display: none;

  position: absolute;
  left: 0;
  right: 0;
  padding: 1% 20%;
  z-index: 999;
}

:host(.show) {
  display: block;
}

:host .actions {
  position: absolute;
  right: 3.25rem;
  margin-top: -0.20rem;
}

:host .notifications {
  position: relative;
}