<div class="notifications" *ngFor="let alert of alerts" [ngSwitch]="alert.type">

  <ngb-alert *ngSwitchCase="'question'" [type]="alert.type === 'question' ? 'info' : alert.type" (close)="closeAlert(alert)">
    <span>
      <img src="{{alert.message.user.avatar}}" class="rounded-circle" width="30px" height="30px" />
      {{ alert.message.message }}
    </span>
    <span *ngIf="alert.type === 'question'" class="actions">
      <button class="btn btn-sm btn-success" (click)="acceptClick(alert)">Accept</button>
      <button class="btn btn-sm btn-danger" (click)="rejectClick(alert)">Reject</button>
    </span>
  </ngb-alert>

  <ngb-alert *ngSwitchDefault [type]="alert.type" (close)="closeAlert(alert)">
    <span>{{ alert.message.message }}</span>
  </ngb-alert>
</div>