<!-- big sidebar large screens -->
<!-- bootstrap: col-sm-5 col-md-3 col-lg-2 pull-sm-7 pull-lg-10 pull-md-9 pl-0 pr-0 sidebar -->
<!-- all-25 medium-30 xlarge-20 sidebar hide-small hide-tiny -->
<div class="all-25 medium-30 xlarge-20 sidebar hide-small hide-tiny">
    <context-user-view [allowAddUser]=allowAddUser [users]=userList ></context-user-view>
</div>

<!-- bootstrap: col-sm-7 col-md-9 col-md-10 push-sm-5 push-lg-2 push-md-3 pl-0 main-content -->
<!-- all-75 medium-70 xlarge-80 main-content hide-small hide-tiny -->
<div class="all-75 medium-70 xlarge-80 main-content hide-small hide-tiny">
    <div #content class="content-panel all-100 hide-small hide-tiny">
        <router-outlet></router-outlet>
    </div>
</div>