<div class="current-user" ngbDropdown>

  <div id="dropdownConfig" class="d-flex justify-content-around align-items-center user-area" ngbDropdownToggle>
    <user-identity [model]="model"></user-identity>
  </div>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownConfig">
    <h6 class="dropdown-header">User Availability</h6>
    <div class="dropdown-item dropdown-item-action" href="#">
      <span>Availability:</span>
      <div [(ngModel)]="model.status" class="btn-group-sm" ngbRadioGroup name="status">
        <label class="btn btn-secondary mb-0 {{ model.status === 'available' ? 'btn-success' : '' }}">
          <input type="radio" autocomplete="off" value="available" (click)="onChangeEvent('available')">On
        </label>
        <label class="btn btn-secondary mb-0 {{ model.status === 'unavailable' ? 'btn-danger' : '' }}">
          <input type="radio" autocomplete="off" value="unavailable" (click)="onChangeEvent('unavailable')">Off
        </label>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <button class="dropdown-item">soon</button>
  </div>
</div>
