<br ><br />
<br>
<br>
<br /><br />


    <div class="loginBlockWrapper" >
                <div class="loginBlock">
                    <div class="loginBlockInner" ng-controller="LoginController">
                        <h1 class="fx-logo-brand"></h1>
                        
                        <div class="loginInputs">
                            <input type="text" id="username" placeholder="Username" ng-model="credentials.username" ><i class="fa fa-user pull-right"></i>
                            <hr>
                            <input type="password" id="password" placeholder="Password" ng-model="credentials.password"><i class="fa fa-lock pull-right"></i>
                            <input type="text" id="rtcIdentity" placeholder="luis@vertx.wonder" ng-model="credentials.rtcIdentity"><i class="fa fa-lock pull-right"></i>
                        </div>
                        <button class="wonderBtn" ng-click="login('/home', credentials)"><i class="fa fa-sign-in pull-left"  ></i>Login</button>
                        <span class="loginRegister font16">Ainda não tem conta? <a href="#">Registe-se aqui.</a><a></a></span><a>
                    
                    </a></div><a>
                </a></div><a>
            </a></div>

	